.todoList {
  margin: 10px auto;
  width: 40%;
  border: 5px solid green;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
ol {
  width: 200px;
  margin: 40px auto;
}
li {
  margin: 10px;
}
li button {
  margin-left: 15px;
}
